    * {
    box-sizing: content-box;
    padding: 0px;
    margin: 0px;
    }
body {
    background-color: black;
    padding: 30px 16px;
}

.D { 
    font-weight: bold; 
    font-size: 45px;
    font-family: Helvetica; 
    font-variant: normal;
    font-style: normal;
    color: whitesmoke;
    
  }

  .B { 
    font-weight: bold; 
    font-size: 30px;
    font-family: Helvetica; 
    font-variant: normal;
    font-style: normal;
    color: blue;
  }

  .avatar {
        height: 300px;
        display: inline-block;
  }

  .header{
    display:flex;
    justify-content: space-between;
  }

.header nav {
    font-weight: bold;
    font-size: 30px;
    padding-top: 0px;
    font-family: Helvetica;
    
}

.header nav ul li {
    list-style-type: none;
}

.header nav ul li {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
}

.a {
    padding: 6px;
    color:red;
}

footer {
        color:blanchedalmond
}

.C {
    font-size: 50px;
    font-weight: bold;
    color:red
}

.N {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
}

.work, .Color {
    color:red;
    padding: 0px;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.section {
    display: flex;
    gap: 17px 50px
}

.box {
    display: flex;
    border-style: solid;
    border-width: 10px;
    border-radius: 50px;
    border-color: green;
    padding: 65px;
    width: 50%;
    height: 50%;
    flex-wrap: wrap;
}

.refactor, .Java, .API, .Node {
    display: flex;
    justify-content: center;
    color:beige;
    font-family: Helvetica;

}

.bottom {
    display: flex;
    justify-content: center;
    align-items: space-between;
    font-size: 30px;
}

.About {
    display:flex;
    gap: 17px 50px;
    font-weight: bold;
    font-size: 20px;
    padding-top: 0px;
    font-family: Helvetica;
    margin-bottom: ;
   }

.p {
    color:green;
    display:flex;
    align-items: flex-end;
}