    * {
    box-sizing: content-box;
    padding: 19px;
    margin: 0px;
    }
body {
    background-color: black
}

h1 { 
    font-weight: bold; 
    font-size: 45pt;
    line-height: 5pt; 
    font-family: Helvetica; 
    font-variant: normal;
    font-style: normal;
    color: whitesmoke;
    
  }

  .B { 
    display: inline-block;
    font-weight: bold; 
    font-size: 30pt;
    line-height: 6pt; 
    font-family: Helvetica; 
    font-variant: normal;
    font-style: normal;
    color: blue;
    flex-grow: 1;
  }

  .avatar {
        height: 300px;
        display: inline-block;
  }

.header nav {
    font-weight: bold;
    font-size: 30px;
    padding-top: 0px;
    margin-right: -20px;
    float: right;
    font-family: Helvetica
    
}

.header nav ul li {
    list-style-type: none;
}

.header nav ul li {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
}

.a {
    display: flex;
    flex-direction: row-reverse;
    color:red;
}

footer {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color:blanchedalmond
}

.C {
    display: flex;
    align-items: flex-end;
    font-size: large;
    font-weight: bold;
}

.N {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
}

.work {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color:green;
    padding: 10px;
    flex: 0 0 400px;
}

.box {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: green;
    padding: 10px;
    flex: 0 0 400px;
}

.refactor, .Java, .API, .Node {
    color:beige;
    font-family: Helvetica;

}