body {
    background-color: black
}
H1 { 
    font-weight: bold; 
    font-size: 45pt;
    line-height: 5pt; 
    font-family: Helvetica; 
    font-variant: normal;
    font-style: normal;
    color: whitesmoke;
    
  }

  H2 { 
    font-weight: bold; 
    font-size: 30pt;
    line-height: 6pt; 
    font-family: Helvetica; 
    font-variant: normal;
    font-style: normal;
    color: blue;
  }

  .avatar {
        height: 300px;
  }

.header nav {
    font-weight: bold;
    font-size: 30px;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Helvetica
    
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.a {
    display: flex;
    flex-direction: row-reverse;
    color:red;
}